<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<div class="welcome-page">
    <div class="content">
        <h4>Welcome,
            <%= username %>!
        </h4>
        <p>Do you want to leave the page? <a href="/logout">Logout</a></p>
    </div>

</div>